<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evrekaguys.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens android:requiresSmallestWidthDp="320" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.CategoryListActivity"
            android:parentActivityName=".activity.StartActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.StartActivity">
            </meta-data>
        </activity>

        <activity android:name=".activity.ProductListActivity"
            android:parentActivityName=".activity.CategoryListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.CategoryListActivity">
            </meta-data>
        </activity>

        <activity android:name=".activity.LicenceScreenActivity"
            android:label="LİSANS EKRANI"
            android:parentActivityName=".activity.StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.StartActivity">
            </meta-data>
        </activity>

        <activity
            android:name=".activity.ProductDetailActivity"
            android:screenOrientation="landscape"
            android:parentActivityName=".activity.ProductListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProductListActivity">
            </meta-data>
        </activity>
    </application>

</manifest>